.Counter{
    width: 300px;
    margin: 0 auto;
    background-color: #ff9;
    padding: 50px 50px 50px 50px;
    border: 5px solid black;
    text-align: center;
    font-family:'Times New Roman', Times, serif;

}

.CounterSizeGenerator{
    padding: 10px 10px 10px 10px;
}

.eachCounter{
    padding: 5px 5px 5px 5px;
}

